html {
    background-color: transparent;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1vh;
    color: #000000;
}

#app {
    position: absolute;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
}

#shootingDisplayContainer {
    position: absolute;
    left: 5vmax;
    bottom: 5vmax;
    width: calc(100vw - 2 * 5vmax);
    display: flex;
    justify-content: center;
    gap: 2%;
}

.shootingDisplay {
    position: relative;
    flex: 1;
    column-gap: 0%;
}

/* Shooters which is eliminated normal */
.shootingDisplayE::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.75); /* Grey with 75% opacity */
    z-index: 2; /* Ensure it overlays the nested elements */
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Shooters which is eliminated after shoot off */
.shootingDisplayES::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.75); /* Grey with 75% opacity */
    z-index: 2; /* Ensure it overlays the nested elements */
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Shooters to be elminated */
.shootingDisplayP::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(190, 28, 28, 0.5); /* Red with 50% opacity */
    z-index: 2; /* Ensure it overlays the nested elements */
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Shooters in a shoot off */
.shootingDisplayT::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 143, 0, 0.5); /* Red with 50% opacity */
    z-index: 2; /* Ensure it overlays the nested elements */
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Shooters to be elminated in a shoot off*/
.shootingDisplaySP::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(190, 28, 28, 0.5); /* Red with 50% opacity */
    z-index: 2; /* Ensure it overlays the nested elements */
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.shootingDisplay .target {
    position: absolute;
    top: -0.75vmax;
    left: -0.75vmax;
    width: 5vmax; /* Adjust size as needed */
    height: 5vmax; /* Adjust size as needed */
    border-radius: 50%; /* Makes it a circle */
    border-color: #cecece;
    /* border-color: #ffffff; */
    border-style: solid;
    border-width: 0.1rem;
    z-index: 2;
}

/* .shootingDisplay .targetE {
    border-color: rgba(255, 255, 255, 0.75);
}

.shootingDisplay .targetES {
    border-color: rgba(255, 255, 255, 0.75);
}

.shootingDisplay .targetP {
    border-color: rgba(255, 255, 255, 0.5);
}

.shootingDisplay .targetT {
    border-color: rgba(255, 255, 255, 0.5);
}

.shootingDisplay .targetSP {
    border-color: rgba(255, 255, 255, 0.5);
} */

.shootingDisplay .scoreTextTopRightContainer,
.shootingDisplay .scoreShotValueContainer,
.shootingDisplay .scoreTotalContainer,
.shootingDisplay .scoreTotalTextContainer {
    position: relative;
    top: 0;
}

.shootingDisplay .scoreTextTopRightContainer .scoreTextTopRight,
.shootingDisplay .scoreShotValueContainer .scoreShotValue,
.shootingDisplay .scoreTotalContainer .scoreTotal,
.shootingDisplay .scoreTotalTextContainer .scoreTotalText {
    position: relative;
    left: 4.25vmax; /* Adjust according to target size */
    width: calc(100% - 4.25vmax); /* Adjust width accordingly */
    display: flex;
    justify-content: center;
    align-items: center;
}

.shootingDisplay .scoreTextTopRightContainer {
    background-color: #cecece;
    border-top-right-radius: 10px;
    opacity: 0.5; /* 50% opacity */
}

.shootingDisplay .scoreTextTopRightContainer .scoreTextTopRight {
    height: 1.5vh;
    font-style: italic;
    font-weight: bolder;
    font-size: 0.8rem;
}

.shootingDisplay .scoreShotValueContainer {
    background-color: #37a746;
}

.shootingDisplay .scoreShotValueContainer .scoreShotValue {
    height: 2.5vh;
    font-weight: bold;
    font-size: 1.5rem;
}


.shootingDisplay .scoreTotalContainer,
.shootingDisplay .scoreTotalTextContainer {
    width: 100%; /* Adjust width accordingly */
}

.shootingDisplay .scoreTotalContainer {
    background-color: #be425d;
    background-color: #004e0a;
}

.shootingDisplay .scoreTotalContainer .scoreTotal {
    height: 2.5vh;
    font-weight: bold;
    font-size: 1.5rem;
    color: #eeeeee;
}

.shootingDisplay .scoreTotalTextContainer {
    background-color: #cecece;
}

.shootingDisplay .scoreTotalTextContainer .scoreTotalText {
    height: 2vh;
    font-style: italic;
    font-weight: bolder;
    font-size: 0.8rem;
}

.shootingDisplay .nameTextContainer,
.shootingDisplay .clubTextContainer {
    width: 100%;
}

.shootingDisplay .nameTextContainer .nameText,
.shootingDisplay .clubTextContainer .clubText {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 0.25vw;
}


.shootingDisplay .nameTextContainer {
    background-color: #3b3b3b;
    opacity: 1; /* 50% opacity */
}

.shootingDisplay .nameTextContainer .nameText {
    height: 2.5vh;
    font-weight: bold;
    font-size: 1.25rem;
    color: #eeeeee;
}

.shootingDisplay .clubTextContainer {
    background-color: #cecece;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.shootingDisplay .clubTextContainer .clubText {
    height: 2vh;
}

.shootingDisplay .clubTextContainer .clubText img {
    height: 1vh;
    border-radius: 25%;
}

.shootingDisplay .clubTextContainer .clubText span {
    font-weight: bolder;
    font-size: 1rem;
    padding-left: 0.25vw;
}