html {
    background-color: transparent;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 4vh;
    color: #2c3e50;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.alpha-key {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Transparent black */
}

#shootingDispayContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
}

.shootingDispay {
    flex: 1;
}