html {
    background-color: transparent;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1vh;
    color: #000000;
}

#app {
    position: absolute;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
}
